.bug_collection
  .header 
    span Bug Tracker
    span.js_refresh.material-icons refresh
  #bug_items
  .new_bug_control
    span.message Add a new bug report
    span.js_add.material-icons add_circle
